{% if payment %}
<form id="payment-form" hx-post="{{url_for('main.preview')}}" hx-target="#payment-form"
  class="w-1/4 px-1 my-2 space-y-3 overflow-y-auto">
  {% if payment.text_data %}
  <div class="text-blue-800 dark:text-white">
    <label for="text_data">Text data:</label>
    <textarea name="text_data" id="text_data"
      class="w-[97%] min-h-[200px] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
        {{payment.text_data}}</textarea>
  </div>
  {% endif %}

  <div class="text-blue-800 dark:text-white">
    <label for="number">Payment number:</label>
    <input id="number" type="text" name="number" {% if payment.number %}value="{{payment.number}}" {% endif %}
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payment_date">Payment date:</label>
    <input {% if payment.payment_date %} value="{{payment.payment_date}}" {% endif %} id="payment_date" type="text"
      name="payment_date" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="reveiving_date">Reveiving date:</label>
    <input {% if payment.reveiving_date %}value="{{payment.reveiving_date}}" {% endif %} id="reveiving_date" type="text"
      name="reveiving_date" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="summ">Sum:</label>
    <input {% if payment.summ %}value="{{payment.summ}}" {% endif %} id="summ" type="text" name="summ"
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="summ_words">Sum words:</label>
    <input {% if payment.summ_words %}value="{{payment.summ_words}}" {% endif %} id="summ_words" type="text"
      name="summ_words" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payment_purpose">Payment purpose:</label>
    <input {% if payment.payment_purpose %}value="{{payment.payment_purpose}}" {% endif %} id="payment_purpose"
      type="text" name="payment_purpose"
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payer_name">Payer name:</label>
    <input {% if payment.payer_name %}value="{{payment.payer_name}}" {% endif %} id="payer_name" type="text"
      name="payer_name" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payer_code">Payer code:</label>
    <input {% if payment.payer_code %}value="{{payment.payer_code}}" {% endif %} id="payer_code" type="text"
      name="payer_code" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payer_bank_name">Payer bank name:</label>
    <input {% if payment.payer_bank_name %}value="{{payment.payer_bank_name}}" {% endif %} id="payer_bank_name"
      type="text" name="payer_bank_name"
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payer_bank_code">Payer bank code:</label>
    <input {% if payment.payer_bank_code %}value="{{payment.payer_bank_code}}" {% endif %} id="payer_bank_code"
      type="text" name="payer_bank_code"
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="payer_iban">Payer iban:</label>
    <input {% if payment.payer_iban %}value="{{payment.payer_iban}}" {% endif %} id="payer_iban" type="text"
      name="payer_iban" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="recipient_name">Recipient name:</label>
    <input {% if payment.recipient_name %}value="{{payment.recipient_name}}" {% endif %} id="recipient_name" type="text"
      name="recipient_name" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="recipient_code">Recipient code:</label>
    <input {% if payment.recipient_code %}value="{{payment.recipient_code}}" {% endif %} id="recipient_code" type="text"
      name="recipient_code" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="recipient_bank_name">Recipient bank name:</label>
    <input {% if payment.recipient_bank_name %}value="{{payment.recipient_bank_name}}" {% endif %}
      id="recipient_bank_name" type="text" name="recipient_bank_name"
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="recipient_bank_code">Recipient bank code:</label>
    <input {% if payment.recipient_bank_code %}value="{{payment.recipient_bank_code}}" {% endif %}
      id="recipient_bank_code" type="text" name="recipient_bank_code"
      class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="text-blue-800 dark:text-white">
    <label for="recipient_iban">Recipient iban:</label>
    <input {% if payment.recipient_iban %}value="{{payment.recipient_iban}}" {% endif %} id="recipient_iban" type="text"
      name="recipient_iban" class="w-[97%] border-0 dark:bg-gray-800 shadow shadow-black dark:shadow-gray-50">
  </div>

  <div class="py-3">
    <button
      class="w-[97%] px-3 py-2 bg-blue-400 text-white font-semibold  dark:bg-white dark:text-darkPrimary">Save</button>

    <button hx-get="{{url_for('main.preview', filename=filename, recognition=true)}}" hx-target="#payment-form"
      hx-indicator="#spinner" hx-swap="outerHTML"
      class="w-[97%] mt-3 px-3 py-2 text-blue-400 font-semibold border border-blue-400 dark:text-white dark:border-white">
      Recognize again</button>

    <div id="spinner" class="htmx-indicator ml-2">
      <svg class="animate-spin h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
        </path>
      </svg>
    </div>
  </div>
</form>
{% else %}
<div id="payment-form" class="w-1/4 flex justify-center items-center">
  <div class="w-2/3 space-y-2">
    {% if filename %}
    <p class="text-xs text-center font-light">This document has not been recognized yet</p>
    <p class="text-xs text-center font-light">Please click this button to start recognition</p>
    {% else %}
    <p class="text-xs text-center font-light">None of the documents have been selected</p>
    <p class="text-xs text-center font-light">Please pick a document and click the button below to start recognition</p>
    {% endif %}
    <div class="flex">
      <button hx-get="{{url_for('main.preview', filename=filename, recognition=true)}}" hx-target="#payment-form"
        hx-indicator="#spinner" hx-swap="outerHTML"
        class="w-[97%] px-3 py-2 bg-blue-400 text-white font-semibold dark:bg-white dark:text-darkPrimary">Recognize</button>

      <div id="spinner" class="htmx-indicator ml-2">
        <svg class="animate-spin h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
      </div>
    </div>
  </div>
</div>
{% endif %}