<div class="w-1/5 flex justify-center">
  <div class="w-full pt-5 space-y-5 overflow-y-scroll">
    {% for filename in payments_images %}
    <div class="doc-list-item flex justify-center cursor-pointer hover:bg-blue-50 dark:hover:bg-gray-700"
      hx-trigger="click" hx-target="#preview" hx-swap="outerHTML"
      hx-get="{{url_for('main.preview', filename=filename)}}">
      <div>
        <div
          class="h-32 w-32 overflow-hidden bg-white dark:bg-white shadow-md shadow-black dark:shadow-gray-300 flex justify-center items-center">
          <img src="{{ url_for('static', filename='payments/'+filename) }}" alt="" class="w-full">
        </div>
        <p class="text-blue-900 dark:text-white">{{ filename }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>