# ignore directories
__pycache__/
env/
.venv/
.vscode/
.claude/
.pytest_cache/
node_modules/

# ignore files
*.env
*.env*
!.env.example
*.pyc
/*.sqlite3

# SQL files
*.sql
*.xlsx

# Dump files
*_dump.json

TODO.md
instance/
.DS_Store
app/services/data/*
app/data/*
*.pickle
certs/

cloud-sql-proxy
creds.json
token.pickle
