flask[async]
flask-wtf
gunicorn
psycopg2-binary
pg8000
asyncpg
aiosqlite
greenlet
sqlalchemy>=2.0.0
flask-sqlalchemy
flask-migrate
flask-login
cloud-sql-python-connector
click
pydantic
python-multipart
pydantic-settings
pandas
pytest
pytest-env
openai
fastapi
uvicorn[standard]
httpx
celery[redis]
google-auth-oauthlib
google-api-python-client
ply
mypy
ruff
py-spy
