flask[async]
flask-wtf
gunicorn
psycopg2-binary
pg8000
sqlalchemy>=2.0.0
flask-sqlalchemy
flask-migrate
flask-login
cloud-sql-python-connector
click
pydantic
python-multipart
pydantic-settings
pandas
pydantic
pydantic-settings
pytest
openai
